@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* base styles */
html,
body,
#root {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  background-color: theme("colors.slate.50");
  color: theme("colors.slate.900");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
